
@{
    ViewBag.Title = "CommentAndRatingGuide";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <h3 class="breadcrumb-header">Help Page</h3>
                <ul class="breadcrumb-tree">
                    <li><a href="~/Home/Index">Home</a></li>
                    <li><a href="~/Home/Help">Help</a></li>
                    <li class="active">Reviews</li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <h1>How to Add and View Product Reviews (Comment And Rating)</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <br />
                <br />
                <span style="font-size: 18px; "><b>1. </b>To add comment click Quick View button with the eye icon on the bottom of any product card it will redirect to product detail page </span>
                <br /><br />
                <div style="width: 100%; height: 100%; margin: auto; ">
                    <img style="width: 100%; height: 100%;padding-left:20px; object-fit: scale-down;" src="~/images/0 - comment and rating.png" alt="product detail quick page">
                </div>

                <br /> 
                <span style="font-size: 18px;">
                    <b>2. </b>In product detail page click Add Your Review Link located next to product name. It will scroll page to add reviews section
                </span>
                <br /> <br />
                <div style="width: 100%; height: 100%; margin: auto; ">
                    <img style="width: 100%; height: 100%;padding-left:20px; object-fit: scale-down;" src="~/images/1 - comment and rating.png" alt="comment and rating">
                </div>
                <br />

                <span style="font-size: 18px;">
                    <b>3. </b>To add reviews enter name, email, comment and click the stars icon for selecting rating  
                </span>
                <br /> <br />
                <div style="width: 100%; height: 100%; margin: auto; ">
                    <img style="width: 100%; height: 100%;padding-left:20px; object-fit: scale-down;" src="~/images/2 - comment and rating.png" alt="comment and rating">
                </div>
                <br />

                <span style="font-size: 18px;">
                    <b>4. </b>All comments will be added to comment list and the average rating will be displayed on product card
                </span>
                <br /> <br />
                <div style="width: 100%; height: 100%; margin: auto; ">
                    <img style="width: 100%; height: 100%;padding-left:20px; object-fit: scale-down;" src="~/images/3 - comment and rating.png" alt="comment and rating">
                </div>
                <br />

                <div style="width: 100%; height: 100%; margin: auto; ">
                    <img style="width: 100%; height: 100%;padding-left:20px; object-fit: scale-down;" src="~/images/4 - comment and rating.png" alt="comment and rating">
                </div>
                <br />
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->

</div>
<!-- /SECTION -->
