@model IEnumerable<AspMVCECommerce.Models.Product>

@using System.Linq;
@using System.Collections.Generic;
@using Microsoft.AspNet.Identity;
@using AspMVCECommerce.Models;

@{
    ViewBag.Title = "Compare";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <h3 class="breadcrumb-header">Compare Related Product</h3>
                <ul class="breadcrumb-tree">
                    <li><a href="~/Home/Index">Home</a></li>
                    <li class="active">Compare Related Product</li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <div class="col-md-12">

                <div class="info-container">
                    <div class="bd-example">
                        <div class="alert alert-success" role="alert">
                            <h4 class="alert-heading">Please Note:</h4>

                            <p class="mb-0">
                                Some of data for product compare is randomly generated this page is for demo purpose only
                            </p>
                        </div>
                    </div>
                </div>
                <br />


                @if (ViewBag.Category == "Laptop")
                {
                    Html.RenderPartial("_LaptopCompare", Model);
                }

                @if (ViewBag.Category == "Headphones")
                {
                    Html.RenderPartial("_HeadphonesCompare", Model);
                }

                @if (ViewBag.Category == "Smart Phones")
                {
                    Html.RenderPartial("_SmartPhonesCompare", Model);
                }

                @if (ViewBag.Category == "Camera")
                {
                    Html.RenderPartial("_CameraCompare", Model);
                }

                @if (ViewBag.Category == "Tablet")
                {
                    Html.RenderPartial("_TabletCompare", Model);
                }
            </div>


        </div>
        <!-- /row -->
    </div>
    <!-- /container -->

</div>
<!-- /SECTION -->
<style>
    .info-container .bd-example {
        position: relative;
        padding: 1rem;
        margin: 1rem -15px 0;
        /*        border: solid #f7f7f9;*/
        border-width: 0.2rem 0 0;
    }

    .info-container .alert-success {
        color: #055160;
        background-color: #cff4fc;
        border-color: #b6effb;
    }

    .info-container .alert {
        position: relative;
        padding: 0.75rem 1.25rem;
        margin-bottom: 1rem;
        border: 1px solid transparent;
        border-radius: 0.25rem;
    }

    .info-container .h4 {
        margin-bottom: 0.5rem;
        font-family: inherit;
        font-weight: 500;
        line-height: 1.2;
        color: inherit;
    }

    .info-container .h4, .info-container h4 {
        font-size: 1.5rem;
    }

    .info-container .alert-success hr {
        border-top-color: #b6effb;
    }

    .info-container hr {
        margin-top: 1rem;
        margin-bottom: 1rem;
        border: 0;
        border-top: 1px solid rgba(0,0,0,.1);
    }

    .info-container hr {
        box-sizing: content-box;
        height: 0;
        overflow: visible;
    }

    .info-container .mb-0, .info-container .my-0 {
        margin-bottom: 0 !important;
    }
</style>