
@{
    ViewBag.Title = "Help";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <h3 class="breadcrumb-header">Help Page</h3>
                <ul class="breadcrumb-tree">
                    <li><a href="~/Home/Index">Home</a></li>
                    <li class="active">Help</li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <h1>Customer Help Page</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <br />
                <br />
                <h3>Manage Product</h3>
                <span style="font-size: 18px; margin-left: 20px;"><a href="~/home/ManageProductGuide">How to add, remove, view and update product's</a></span>
                <br />
                <br />

                <h3>Filter Product</h3>
                <span style="font-size: 18px; margin-left: 20px;"><a href="~/home/FilterProductGuide">How to filter product by brand, price and category</a></span>
                <br />
                <br />

                <h3>Search Product</h3>
                <span style="font-size: 18px; margin-left: 20px;"><a href="~/home/SearchProductGuide">How to Search product with filter by category</a></span>
                <br />
                <br />

                <h3>Compare Product</h3>
                <span style="font-size: 18px; margin-left: 20px;"><a href="~/home/CompareProductGuide">How to Compare to Related Product</a></span>
                <br />
                <br />

                <h3>Product Reviews</h3>
                <span style="font-size: 18px; margin-left: 20px;"><a href="~/home/CommentAndRatingGuide">How to Add and View Product Reviews (Comment and Ratings)</a></span>
                <br />
                <br />

                <h3>Manage Customer Account</h3>
                <span style="font-size: 18px; margin-left: 20px;"><a href="~/home/ManageCustomerAccountGuide">How to register and change password customer account</a></span>
                <br />
                <br />
                <h3>Manage WishList</h3>
                <span style="font-size: 18px; margin-left: 20px;"><a href="~/home/WishlistGuide">How to add, remove and view wishlist product's</a></span>

                <br />
                <br />
                <h3>Manage Shopping Cart</h3>
                <span style="font-size: 18px; margin-left: 20px;"><a href="~/home/ShoppingCartGuide">How to add, remove, view and checkout shopping cart</a></span>
                <br />
                <br />
                <h3>Paypal Payment</h3>

                <span style="font-size: 18px; margin-left: 20px;"><a href="~/home/PaypalAccountGuide">How To Create Paypal Test Account</a></span>
                <br />
                <span style="font-size: 18px; margin-left: 20px;"><a href="~/home/PaypalCreditCardGuide">How To Get Fake Credit Card For Paypal</a></span>
                <br />
                <span style="font-size: 18px; margin-left: 20px;"><a href="~/home/PaypalPaywithcreditcardguide">How To Pay With Credit Card on Paypal</a></span>

                <br />
                <br />
                <h3>Newsletter Subscription</h3>
                <span style="font-size: 18px; margin-left: 20px;"><a href="~/home/SubscribeToNewsletterGuide">How To Subscribe and Unsubscribe to Newsletter</a></span>
                <br />

            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->

</div>
<!-- /SECTION -->
