
@{
    ViewBag.Title = "Help";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <h3 class="breadcrumb-header">Help Page</h3>
                <ul class="breadcrumb-tree">
                    <li><a href="~/Home/Index">Home</a></li>
                    <li class="active">Help</li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <h1>Customer Help Page</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <br />
                <br />
                <h3>Add Product to WishList</h3>
                <span style="font-size: 18px; margin-left: 20px;"><b>1.</b> Navigate to paypal sandbox website: <a target="_blank" href="https://www.sandbox.paypal.com/ph/home">https://www.sandbox.paypal.com/ph/home</a> then click Sign Up</span>
                <br />
                <br />
                <h3>Add Product to Cart</h3>
                <span style="font-size: 18px; margin-left: 20px;"><b>1.</b> Navigate to paypal sandbox website: <a target="_blank" href="https://www.sandbox.paypal.com/ph/home">https://www.sandbox.paypal.com/ph/home</a> then click Sign Up</span>
                <br />
                <br />
                <h3>Paypal Payment</h3>
                <span style="font-size: 18px; margin-left: 20px;"><a target="_blank" href="~/home/PaypalAccountGuide">1. How To Create Paypal Test Account</a></span>
                <br />
                <span style="font-size: 18px; margin-left: 20px;"><a target="_blank" href="~/home/PaypalCreditCardGuide">2. How To Get Fake Credit Card For Paypal</a></span>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->

</div>
<!-- /SECTION -->
