
@{
    ViewBag.Title = "SearchProductGuide";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <h3 class="breadcrumb-header">Help Page</h3>
                <ul class="breadcrumb-tree">
                    <li><a href="~/Home/Index">Home</a></li>
                    <li><a href="~/Home/Help">Help</a></li>
                    <li class="active">Search Product</li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <h1>Search Product</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <br />
                <br />
                <span style="font-size: 18px; "><b>1.</b> On main header menu enter your search word on product search input box, filter the search result by category using category dropdown list then click submit button. </span>
                <br /><br />
                <div style="width: 100%; height: 100%; margin: auto; ">
                    <img style="width: 100%; height: 100%;padding-left:20px; object-fit: scale-down;" src="~/images/search product.png" alt="search product">
                </div>
                <br />
   

            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->

</div>
<!-- /SECTION -->


<style>
    .info-container .bd-example {
        position: relative;
        padding: 1rem;
        margin: 1rem -15px 0;
        /*        border: solid #f7f7f9;*/
        border-width: 0.2rem 0 0;
    }

    .info-container .alert-success {
        color: #055160;
        background-color: #cff4fc;
        border-color: #b6effb;
    }

    .info-container .alert {
        position: relative;
        padding: 0.75rem 1.25rem;
        margin-bottom: 1rem;
        border: 1px solid transparent;
        border-radius: 0.25rem;
    }

    .info-container .h4 {
        margin-bottom: 0.5rem;
        font-family: inherit;
        font-weight: 500;
        line-height: 1.2;
        color: inherit;
    }

    .info-container .h4, .info-container h4 {
        font-size: 1.5rem;
    }

    .info-container .alert-success hr {
        border-top-color: #b6effb;
    }

    .info-container hr {
        margin-top: 1rem;
        margin-bottom: 1rem;
        border: 0;
        border-top: 1px solid rgba(0,0,0,.1);
    }

    .info-container hr {
        box-sizing: content-box;
        height: 0;
        overflow: visible;
    }

    .info-container .mb-0, .info-container .my-0 {
        margin-bottom: 0 !important;
    }
</style>


