
@{
    ViewBag.Title = "ShoppingCartGuide";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <h3 class="breadcrumb-header">Help Page</h3>
                <ul class="breadcrumb-tree">
                    <li><a href="~/Home/Index">Home</a></li>
                    <li><a href="~/Home/Help">Help</a></li>
                    <li class="active">Shopping Cart</li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <h1>Manage Shopping Cart</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <br />
                <br />
                <span style="font-size: 18px; "><b>1.</b> Login Customer Account</span>

                <div class="info-container" style="padding-left: 20px;">
                    <div class="bd-example">
                        <div class="alert alert-success" role="alert">
                            <h4 class="alert-heading">Please Note:</h4>

                            <p class="mb-0">
                                Only registered user's can add, remove and view shopping cart
                            </p>
                        </div>
                    </div>
                </div>
                <div style="width: 100%; height: 100%; margin: auto; ">
                    <img style="width: 100%; height: 100%;padding-left:20px; object-fit: scale-down;" src="~/images/0 - Login Customer Account.png" alt="login customer account">
                </div>
                <br />
                <span style="font-size: 18px;"><b>2.</b> To add to shopping cart on Product Card View click the <span style="font-style:italic;font-weight:600;">"Add To Cart"</span> button on the bottom of the product image</span>
                <br /> <br />
                <div style="width: 100%; height: 100%; margin: auto; ">
                    <img style="width: 100%; height: 100%;padding-left:20px; object-fit: scale-down;" src="~/images/1 - add to cart.png" alt="add to shopping cart">
                </div>

                <br />
                <span style="font-size: 18px; margin-left:20px;">
                    Choose product quantity, color and size
                </span>
                <br /> <br />
                <div style="width: 100%; height: 100%; margin: auto; ">
                    <img style="width: 100%; height: 100%;padding-left:20px; object-fit: scale-down;" src="~/images/1 - add to cart details.png" alt="add to cart details">
                </div>

                <br />
                <span style="font-size: 18px;">
                    <b>3. </b>To add to cart on product page click <span style="font-style:italic;font-weight:600;">"ADD TO CART"</span> button located below the product description
                </span>
                <br /> <br />
                <div style="width: 100%; height: 100%; margin: auto; ">
                    <img style="width: 100%; height: 100%;padding-left:20px; object-fit: scale-down;" src="~/images/2 - add to cart.png" alt="add to cart">
                </div>

                <br />

                <span style="font-size: 18px;">
                    <b>4. </b>To remove product from shopping cart click the My Cart button on main header then click the x icon next to product image on shopping cart list popup menu
                </span>
                <br /> <br />
                <div style="width: 100%; height: 100%; margin: auto; ">
                    <img style="width: 100%; height: 100%;padding-left:20px; object-fit: scale-down;" src="~/images/3 - remove from cart.png" alt="remove to cart">
                </div>

                <br />

                <span style="font-size: 18px;">
                    <b>5. </b>To remove product from shopping cart page click the remove button on the Line Item's list
                </span>
                <br /> <br />
                <div style="width: 100%; height: 100%; margin: auto; ">
                    <img style="width: 100%; height: 100%;padding-left:20px; object-fit: scale-down;" src="~/images/4 - remove from cart.png" alt="remove to cart">
                </div>

                <br />
                <span style="font-size: 18px;">
                    <b>6. </b>To View all product's added to shopping cart click the My Cart button on the main header menu then on the popup shopping cart list menu click the view cart button
                </span>
                <br /> <br />
                <div style="width: 100%; height: 100%; margin: auto; ">
                    <img style="width: 100%; height: 100%;padding-left:20px; object-fit: scale-down;" src="~/images/6 - view shopping cart.png" alt="remove to cart">
                </div>

                <br />
                <span style="font-size: 18px;">
                    <b>7. </b>To Checkout shopping cart click the <span style="font-style:italic;font-weight:600;">"Proceed To Checkout"</span> button on bottom the shopping cart page
                </span>
                <br /> <br />
                <div style="width: 100%; height: 100%; margin: auto; ">
                    <img style="width: 100%; height: 100%;padding-left:20px; object-fit: scale-down;" src="~/images/5 - checkout shopping cart.png" alt="remove to cart">
                </div>
                <br />
                <span style="font-size: 18px;">
                    <b>8. </b> Enter contact and billing address details then click <span style="font-style:italic;font-weight:600;">"Place Order"</span> button
                </span>
                <br /> <br />
                <div style="width: 100%; height: 100%; margin: auto; ">
                    <img style="width: 100%; height: 100%;padding-left:20px; object-fit: scale-down;" src="~/images/7 - shopping cart checkout page.png" alt="remove to cart">
                </div>
                <br />
                <span style="font-size: 18px;">
                    <b>9. </b>Login paypal account<br />
                   
                </span>

                <div class="info-container" style="padding-left: 20px;">
                    <div class="bd-example">
                        <div class="alert alert-success" role="alert">
                            <h4 class="alert-heading">User Info:</h4>

                            <p class="mb-0">
                                Check here on how to create test paypal account: <a href="~/Home/PaypalAccountGuide">How to Create Test Paypal Account</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div style="width: 100%; height: 100%; margin: auto; ">
                    <img style="width: 100%; height: 100%;padding-left:20px; object-fit: scale-down;" src="~/images/8 - login paypal account.png" alt="remove to cart">
                </div>
                <br />
                <span style="font-size: 18px;">
                    <b>10. </b>Check list of product and shipping address then click Continue
                </span>
                <br /> <br />
                <div style="width: 100%; height: 100%; margin: auto; ">
                    <img style="width: 100%; height: 100%;padding-left:20px; object-fit: scale-down;" src="~/images/9 - paypal checkout page.png" alt="remove to cart">
                </div>
                <br />
                <span style="font-size: 18px;">
                    <b>11. </b>When payment succeed you will be redirected to order page and your order will be added to order list
                </span>
                <br /> <br />
                <div style="width: 100%; height: 100%; margin: auto; ">
                    <img style="width: 100%; height: 100%;padding-left:20px; object-fit: scale-down;" src="~/images/10 - paypal checkout succeed.png" alt="remove to cart">
                </div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->

</div>
<!-- /SECTION -->


<style>
    .info-container .bd-example {
        position: relative;
        padding: 1rem;
        margin: 1rem -15px 0;
        /*        border: solid #f7f7f9;*/
        border-width: 0.2rem 0 0;
    }

    .info-container .alert-success {
        color: #055160;
        background-color: #cff4fc;
        border-color: #b6effb;
    }

    .info-container .alert {
        position: relative;
        padding: 0.75rem 1.25rem;
        margin-bottom: 1rem;
        border: 1px solid transparent;
        border-radius: 0.25rem;
    }

    .info-container .h4 {
        margin-bottom: 0.5rem;
        font-family: inherit;
        font-weight: 500;
        line-height: 1.2;
        color: inherit;
    }

    .info-container .h4, .info-container h4 {
        font-size: 1.5rem;
    }

    .info-container .alert-success hr {
        border-top-color: #b6effb;
    }

    .info-container hr {
        margin-top: 1rem;
        margin-bottom: 1rem;
        border: 0;
        border-top: 1px solid rgba(0,0,0,.1);
    }

    .info-container hr {
        box-sizing: content-box;
        height: 0;
        overflow: visible;
    }

    .info-container .mb-0, .info-container .my-0 {
        margin-bottom: 0 !important;
    }
</style>



