
@{
    ViewBag.Title = "SubscribeToNewsletterGuide";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <h3 class="breadcrumb-header">Help Page</h3>
                <ul class="breadcrumb-tree">
                    <li><a href="~/Home/Index">Home</a></li>
                    <li><a href="~/Home/Help">Help</a></li>
                    <li class="active">Newsletter</li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <h1>Subscribe to Newsletter</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <br />
                <br />
                <span style="font-size: 18px; "><b>1. </b>To subscribe to newsletter enter your email then click subscribe button on subscribe to newsletter input box located on website page footer</span>
                <br /><br />
                <div style="width: 100%; height: 100%; margin: auto; ">
                    <img style="width: 100%; height: 100%;padding-left:20px; object-fit: scale-down;" src="~/images/1 - subscribe to newsletter.png" alt="subscribe to newsletter">
                </div>

                <br /> <br />
                <div style="width: 100%; height: 100%; margin: auto; ">
                    <img style="width: 100%; height: 100%;padding-left:20px; object-fit: scale-down;" src="~/images/2 - subscribe to newsletter.png" alt="subscribe to newsletter">
                </div>
                <br />

                <span style="font-size: 18px;">
                    <b>2. </b>You will receive confirmation email. Click the confirmation link button to confirm email
                </span>
                <br /> <br />
                <div style="width: 100%; height: 100%; margin: auto; ">
                    <img style="width: 100%; height: 100%;padding-left:20px; object-fit: scale-down;" src="~/images/3 - subscribe to newsletter confirm email.png" alt="subscribe to newsletter confirm email">
                </div>
                <br />

                <span style="font-size: 18px;">
                    <b>3. </b>When confirmation succeed you will be redirected to our confirmation page with thank you message for subscribing
                </span>
                <br /> <br />
                <div style="width: 100%; height: 100%; margin: auto; ">
                    <img style="width: 100%; height: 100%;padding-left:20px; object-fit: scale-down;" src="~/images/4 - subscribe to newsletter confirmation complete.png" alt="subscribe to newsletter confirmation complete">
                </div>
                <br />

                <span style="font-size: 18px;">
                    <b>4. </b>After confirmation you will recieve a weekly email from our website with subject top pick of the weeks as shown below.
                </span>
                <br /> <br />
                <div style="width: 100%; height: 100%; margin: auto; ">
                    <img style="width: 100%; height: 100%;padding-left:20px; object-fit: scale-down;" src="~/images/5 - subscribe to newsletter top picks of the week.png" alt="ubscribe to newsletter top picks of the week">
                </div>
                <br />

                <span style="font-size: 18px;">
                    <b>5. </b>To stop subscription click the unsubscribe link on the bottom of the top pick of the week email
                </span>
                <br /> <br />
                <div style="width: 100%; height: 100%; margin: auto; ">
                    <img style="width: 100%; height: 100%;padding-left:20px; object-fit: scale-down;" src="~/images/6 - subscribe to newsletter unsubscribe.png" alt="unsubscribe">
                </div>
                <br />
                <span style="font-size: 18px;margin-left:20px;">
                    When unsubscribe is complete you will be redirected to our unsubscribe page
                </span>
                <br /> <br />
                <div style="width: 100%; height: 100%; margin: auto; ">
                    <img style="width: 100%; height: 100%;padding-left:20px; object-fit: scale-down;" src="~/images/7 - subscribe to newsletter unsubscribe complete.png" alt="unsubscribe">
                </div>
                <br />
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->

</div>
<!-- /SECTION -->
