
@{
    ViewBag.Title = "Unsubscribe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <h3 class="breadcrumb-header">Unsubscribe</h3>
                <ul class="breadcrumb-tree">
                    <li><a href="~/Home/Index">Home</a></li>
                    <li class="active">Unsubscribe</li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <div class="col-md-12">
       

                    <table cellpadding="0" cellspacing="0" border="0" width="100%" class="tableHeader">
                        <tr>
                            <td class="tdHeader">
                                <style type="text/css">
                                    .tdHeader img {
                                        height: 64px;
                                    }
                                </style><img src="" style="border-width:0px;" />
                            </td>
                        </tr>
                    </table>
                    <table cellpadding="2" cellspacing="0" border="0" width="100%">
                        <tr>
                            <td class="tdContentBody" style="padding-bottom: 50px">

                                @if (ViewBag.Result == "Success")
                                {
                                    <h1 style="margin-top: 20px">Thank You!</h1>
                                    @ViewBag.Email <span>have been unsubscribed from this publication.</span>
                                }
                                else
                                { 
                                    <h1 style="margin-top: 20px; color: red;">Unsubscribed Failed</h1>
                                    <span style="color:red;font-weight:600;">Unsubscribed failed for @ViewBag.Email due to: @ViewBag.Result</span>
                                }


                                <ul><li>To resubscribe or view and edit your subscriptions to other publications from <span style="color:#555555;"><b>Zaldy's Ecommerce</b></span>, visit the <a href="c">Subscription Center</a></li><li>To view and edit the information you have given us and manage how <span style="color:#555555;"><b>Zaldy's Ecommerce</b></span> communicates with you, visit the <a href="#">Profile Center</a></li></ul>
           
                            </td>
                        </tr>
                    </table>
                    <table cellpadding="5" cellspacing="0" border="0" width="100%">
                        <tr>
                            <td class="tdFooter">&nbsp;</td>
                        </tr>
                    </table>

                
            </div>


        </div>
        <!-- /row -->
    </div>
    <!-- /container -->

</div>
<!-- /SECTION -->




